.max-content{
	max-width: 1125px;
	margin: 0 auto;
}

$main-font: pt sans;
$second-font: pt serif;
$main-color: #000000;
$second-color: #ffffff;
$color-orange-red: #ff351b;
$brownish-grey: #636363;


body{
	font-family: $main-font;
	color: $main-color;
	margin: 0;
	overflow-x: hidden;
	h1{
		font-size: 40px;
	}
	h2{
		font-family: $second-font;
  		font-size: 34px;
  		font-weight: normal;
	}
	p{
		font-size: 18px;
	}
	a{
		color: $second-color;
		text-decoration: none;
	}
}
.flex-it{display: flex;}



		 						
// *{
// 	border: 1px solid black;
// }